$primary-color: #f38181;
$secondary-color: #fce38a;
$primary-accent-color: #95e1d3;
$secondary-accent-color: #eaffd0;
$main-font-face: Montserrat, sans-serif;
$secondary-font-face: Roboto, sans-serif;
$accent-font-face: "Kaushan Script", sans-serif;