.form {
  &__email { 
    height: 38px;
    width: 228px;
    border: 1px solid #d9d9d9;
    font-family: $secondary-font-face;
    line-height: 25px;
    font-size: 15px;
    padding-left: 12px;
    border-right: 0;
  }
  
  &__email[type="placehoder"] {
      color: #d9d9d9;
  }
  
  &__submit {
    font-family: $main-font-face;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: $primary-accent-color;
    transition: background-color 200ms linear;
  }
  
  &__submit:hover {
    background-color: $primary-color;
    cursor: pointer;
  }
}
